.counter {
  display: flex;
  height: 38px;
  gap: 5px;
  margin: 10px 0;
}

.counter__amount {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 0 20px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.5px;
  font-size: 25px;
}

.counter__amount--zero {
  background-color: #ffc107;
  color: #000;
}

.counter__increment {
  background-color: #6c757d;
  color: #6c757d;
}

.counter__increment:hover {
  background-color: #5a6268;
}

.counter__decrement {
  background-color: #17a2b8;
  color: #17a2b8;
}

.counter__decrement:hover {
  background-color: #138496;
}

.counter__decrement--disabled,
.counter__decrement--disabled:hover {
  background-color: #5dbece;
  cursor: not-allowed;
}

.counter__increment,
.counter__decrement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  font-size: 17px;
  border: none;
  border-radius: 3.5px;
  cursor: pointer;
}

.counter__increment span,
.counter__decrement span {
  content: "";
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  font-weight: bold;
}

.counter__delete {
  width: 38px;
  font-weight: bold;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0 5px;
  border-radius: 3.5px;
}

.counter__delete:hover {
  background-color: #c82333;
  cursor: pointer;
}
